body{
  background-color: #99caff2f;
}

.content {
  padding: 7rem 0; }

.tab {
    display: none;
}
  
.tab.active {
    display: block;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

.switch:hover{

  border-bottom: 1px solid;

}

textarea{
  resize: none;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

